<html class="h-full">

<head>
    <link rel="stylesheet" href="{{ static('output.css') }}">
</head>

<body class="h-full">
    <div class="min-h-full">
        <div class="py-10 w-5/12 mx-auto">
            <header>
                <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                    <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">Search Results</h1>
                    <form method="GET" target="">
                    <div class="rounded-md shadow-sm">
                        <label for="email" class="text-sm font-medium leading-6 text-gray-900 hidden">Search Media</label>
                        <div class="mt-2 flex">
                          <div class="relative flex flex-grow items-stretch focus-within:z-10">
                            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                              <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path d="M7 8a3 3 0 100-6 3 3 0 000 6zM14.5 9a2.5 2.5 0 100-5 2.5 2.5 0 000 5zM1.615 16.428a1.224 1.224 0 01-.569-1.175 6.002 6.002 0 0111.908 0c.058.467-.172.92-.57 1.174A9.953 9.953 0 017 18a9.953 9.953 0 01-5.385-1.572zM14.5 16h-.106c.07-.297.088-.611.048-.933a7.47 7.47 0 00-1.588-3.755 4.502 4.502 0 015.874 2.636.818.818 0 01-.36.98A7.465 7.465 0 0114.5 16z" />
                              </svg>
                            </div>
                            <input type="text" value="{{search_query.query}}" name="query" id="query" class="block w-full rounded-none rounded-l-md border-0 py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="John Smith">
                          </div>
                          <button type="submit" class="relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-0.5 h-5 w-5 text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                            </svg>
                            Search
                          </button>
                        </div>
                        <fieldset class="mt-4">
                            <label class="text-base font-semibold text-gray-900">Media Type</label>
                            <legend class="sr-only">Select Media Type From</legend>
                            <div class="space-y-4 sm:flex sm:items-center sm:space-x-5 sm:space-y-0">
                              {% for kind in MediaKind %}
                              <div class="flex items-center">
                                <input id="{{ kind.value }}" name="mediatype" type="radio" value="{{ kind.value }}" {% if search_query.kind == kind %}checked{% endif %} class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                <label for="{{ kind.value }}" class="ml-3 block text-sm font-medium leading-6 text-gray-900">{{ kind.value.title() }}</label>
                              </div>
                              {% endfor %}
                            
                            </div>
                        </fieldset>
                    </div>
                    </form>
                </div>
            </header>
            <main>
                <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
                    <ul role="list" class="divide-y divide-gray-200">
                        {% for item in items %}
                        <li class="py-4" data-score="{{item.score}}">
                            <a href="/item/{{ item.id() }}">
                                <div class="flex">
                                    <div class="mr-4 flex-shrink-0">
                                        {% if item.image_medium %}
                                        <img class="h-auto w-16 border border-gray-300 bg-white text-gray-300"
                                            src="{{item.image_medium}}">
                                        {% else %}
                                        <div class="h-16 w-16"></div>
                                        {% endif %}
                                    </div>
                                    <div>
                                        <h4 class="text-lg font-bold">{{ ",".join(item.title) }}</h4>
                                        <h5 class="text-med">{{ item.collection_title }} by {{ ",".join(item.authors) }}</h5>
                                        <h5 class="text-med">Artist: {{ ",".join(item.authors) }}</h5>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </main>
        </div>
    </div>
</body>

</html>